.contact-links-container {
    display: flex;
    justify-content: space-evenly;
    height: 550px;
    margin-bottom: 125px;
}

.text-gradient { //included to provide full span of gradient across each word/phrase
    @include text-gradient;
    width: fit-content;
}

@mixin contact-link-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 50px;
    // padding-bottom: 50px;
    font-size: 40px;
}

#contact-link-names {
    @include contact-link-column;
    font-weight: bold;
    align-items: flex-end;
    border-right: solid 2px $light-background;
    padding-right: 50px;
}

#contact-links {
    @include contact-link-column;
    padding-left: 50px;
    width: 400px;

    a {
        color: $light-background;
        transition-duration: .2s;
    }

    a:hover {
        color: black;
        font-size: 1.1em;
    }
}