#home {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100vh;
    background-image: url("../img/Home\ Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: $header-font;
    font-size: $header-font-size;
    font-weight: 500;
    margin-top: 200px;
    width: 100%;
    @media (min-width: $desktop-width) {
        width: 50%;
    }
    height: 450px;
}
#headline-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    height: 100%;
    background: $red-blue-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#headline-text-large {
    font-weight: 800;
    font-size: 1.5em;
    transition: 0.3s;
    -webkit-text-fill-color: transparent;
}

.profile-picture-container {
    width: 0%;
    @media (min-width: $desktop-width) {
        width: 50%;
    }
    display: flex;
    margin-top: 120px;
    // justify-content: center;
    // align-items: center;
}

#profile-picture {
    display: none;
    background-color: rgb(244, 242, 242);
    @media (min-width: $desktop-width) {
        display: inline;
        // object-fit: cover;
        width: 600px;
        height: 600px;
    }
    border-radius: 50%;
    box-shadow: 3px 3px 3px gray;
}

#headline-text-large:hover {
    font-size: 1.6em;
    font-weight: 900;
}
