#projects {
    align-items: center;
    text-align: center;
}

.projects-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 70px;
    @media (min-width: $tablet-width) {
        width: fit-content;
        margin-right: 100px;
        text-align: start;
    }
}

.spacer {
    width: 100%;
    display: none;
    @media (min-width: $tablet-width) {
        width: 600px;
        display: flex;
        padding: 5%;
        justify-content: center;
        align-items: center;
    }
}

.project-group-container {
    border-radius: 30px;
    border: solid 1px $light-background;
    box-shadow: 2px 2px 3px $shadow-color;
    width: 90%;
    max-width: 1000px;
    margin-bottom: 125px;

    @media (min-width: $desktop-width) {
        width: 70%;
    }

    .project-group-container-header {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        background-color: $light-background;
        text-align: center;

        @media (min-width: $tablet-width) {
            text-align: left;
            padding-left: 50px;
        }
    }

    .projects-container {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        font-size: 24px;

        @media (min-width: $tablet-width) {
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: $desktop-width) {
            grid-template-columns: 1fr 1fr 1fr;
        }  

        .icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .projects-container > a {
            display: block;
        }
        
        .project-icon {
            width: 250px;
            height: 250px;
            border-radius: 30px;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                border: solid 3px $light-background;
                transition: ease-in-out;
                transition-duration: .15s;
            }
            
            img:hover {
                border: solid 3px $port-blue;
                box-shadow: 3px 3px 3px $shadow-color;
            }
        }
    } 
}


