* {
    box-sizing: border-box;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: $body-font;
    font-size: $body-font-size;
}

section {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px $light-background;
}

.header {
    font-family: $header-font;
    font-size: $header-font-size;
    font-weight: 500;
}

.subheader {
    font-family: $header-font;
    font-size: $subheader-font-size;
}

.navbar {
    background-color: white;
    box-shadow: 3px 3px $light-background;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media (min-width: $desktop-width) {
        justify-content: flex-start;

    }
    width: 100%;
    padding-left: 25px;

    a {
        text-decoration: none;
        color: black;
    }
}

.navbar-item {
    display: flex;
    align-items: center;
    @media (min-width: $desktop-width) {
        margin-left: 35px;
        margin-right: 35px;
    }
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-item:hover {
    display: inline-block;
    background: $red-blue-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
