// colors
$port-red: #ff3434;
$port-blue: #2697ff;
$red-blue-gradient: -webkit-linear-gradient(left, #ff3434, #2697ff);


//fonts
$header-font: 'DM Sans', sans-serif;
$header-font-size: 60px;
$body-font: 'Open Sans', sans-serif;
$body-font-size: 18px;


//sizes
$desktop-width: 1120px;
$tablet-width: 850px;
