* {
    box-sizing: border-box;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: $body-font;
    font-size: $body-font-size;
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px $light-background;
    align-items: center;
}

.header {
    font-family: $header-font;
    font-size: $header-font-size;
    font-weight: 500;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 7px;
}

.subheader {
    font-family: $header-font;
    font-size: $subheader-font-size;
}

.subheader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 35px;
    @media (min-width: $tablet-width) {
        width: fit-content;
        text-align: start;
    }
}

.spacer {
    display: none;
    @media (min-width: $tablet-width) {
        width: 700px;
        display: flex;
        padding: 5%;
        justify-content: center;
        align-items: center;
    }
}
@mixin text-gradient {
    background: $red-blue-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    background-color: white;
    box-shadow: 3px 3px $light-background;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media (min-width: $desktop-width) {
        justify-content: flex-start;

    }
    width: 100%;
    padding-left: 25px;

}

a {
    text-decoration: none;
    color: black;
}

pre {
    font-family: $body-font;
    font-size: $body-font-size;
    margin: 3px;
}

.navbar-item {
    display: flex;
    align-items: center;
    @media (min-width: $desktop-width) {
        margin-left: 35px;
        margin-right: 35px;
    }
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-item:hover {
    display: inline-block;
    @include text-gradient;
}

.icon {
    border-radius: 30px;
    width: 250px;
    height: 250px;   

    img {
        height: 100%;
        border-radius: 30px;
        transition: ease-in-out;
        transition-duration: .15s;
        border: solid 3px $project-container-color;

    }
    
}

.mb15 {
    margin-bottom: 15px;
}

.mb30 {
    margin-bottom: 30px;
}
