// colors
$port-red: #ff3434;
$port-blue: #2697ff;
$red-blue-gradient: -webkit-linear-gradient(left, #ff3434, #2697ff);
$light-background: rgb(232, 232, 232);
$shadow-color: rgb(193, 193, 193);
$project-icon-background-color: #f6f4f5;
$project-container-color: #0000000F;


//fonts
$header-font: 'DM Sans', sans-serif;
$header-font-size: 60px;
$body-font: 'Open Sans', sans-serif;
$body-font-size: 18px;
$subheader-font-size: 35px;



//sizes
$desktop-width: 1120px;
$tablet-width: 1024px;
$tablet-height: 768px;
