---
layout: default
fw: true
---
<div class="content-wrapper">
    <div class="project-page-container">
        <div class="project-details-container mb30">
            <h1 class="header underline">{{ page.name }}&nbsp;&nbsp;</h1>
            <p>{{ content }}</p>

            <div class="projects-button-container">
                {% if page.github %}
                <a href="{{ page.github }}" class="outline-button" target="_blank" rel="noopener noreferrer">github</a>
                {% endif %}

                {% if page.download_link %}
                <a href="{{ page.download_link}}" class="solid-button" target="_blank"
                    rel="noopener noreferrer">download</a>
                {% endif %}

                {% if page.link %}
                <a href="{{ page.link }}" class="solid-button" target="_blank" rel="noopener noreferrer">visit</a>
                {% endif %}
            </div>

            <div class="subheader">Platforms</div>
            {% for icon in page.platform_icons %}
            <img class="mb30" src="..\img\{{ icon }}" />
            {% endfor %}

            <div class="subheader">Technologies</div>
            {% for tech in page.technologies %}
            <pre>&nbsp; • {{ tech }}</pre>
            {% endfor %}

        </div>


        <div class="project-gallery-container">
            <div class="project-gallery-header mb30">
                <div class="icon">
                    {% if page.icon %}
                    <img src="..\img\{{ page.icon }}" />
                    {% endif %}
                </div>
                <div class="tags-container">
                    <div class="header underline">Tags &nbsp;</div>
                    <div class="project-tag">{{ page.group }}</div>
                    <div class="project-tag">{{ page.platform }}</div>
                    <div class="project-tag">{{ page.technologies[0] }}</div>
                    {% for tag in page.tags %}
                    <div class="project-tag">{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="project-gallery">
                <div class="header mb15">Gallery</div>
                {% if page.video_link %}
                <iframe class="mb15" width="560" height="315" src="{{ page.video_link }}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                {% endif %}
                <div class="img-grid">
                    {% for img in page.images %}
                    <a href="..\img\{{ img }}" target="_blank"><img src="..\img\{{ img }}"/></a>
                    {% endfor %}
                </div>

                <div class="wide-img-grid">
                    {% for img in page.wide_images %}
                    <a href="..\img\{{ img }}" target="_blank"><img src="..\img\{{ img }}"/></a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <script>
        // set color of accent elements to accent color
        const color = "{{ page.accent_color }}";

        const headers = document.getElementsByClassName("underline");
        for (header of headers) {
            header.style.textDecorationColor = color;
        }

        const outlineButtons = document.getElementsByClassName("outline-button");
        for (button of outlineButtons) {
            button.style.borderColor = color;
            button.style.color = color;
        }

        const solidButtons = document.getElementsByClassName("solid-button");
        for (button of solidButtons) {
            button.style.backgroundColor = color;
        }

    </script>


</div>