---
layout: default
---
{% assign personal = site.projects | where_exp: "item", "item.group == 'personal' " | sort:"order" %}
{% assign team = site.projects | where_exp: "item", "item.group == 'team' " | sort:"order" %}
{% assign client = site.projects | where_exp: "item", "item.group == 'client' " | sort:"order" %}
{% assign links = site.links | sort:"order" %}


<section id="home">
    <div class="header home-header-container">
        <span id="upperheadline">hi, i'm</span>
        <a id="lowerheadline" href="https://youtu.be/VYDSUypV50o?t=326" target="_blank" rel="noopener noreferrer"> Einar</a>
    </div>
    <div class="profile-picture-container">
        <img id="profile-picture" src="img/pfp.png"></img>
    </div>
</section>

<section id="projects">
    <div class="header subheader-container">
        <div> Projects </div>
        <div class="spacer"></div>
    </div>


    <div class="icons-group">
        <div class="subheader icons-group-header">
            Personal
        </div>
        <div class="icon-grid">
            {% for project in personal %}
            {% include project-icon.html %}
            {% endfor %}
        </div>
    </div>

    <div class="icons-group">
        <div class="subheader icons-group-header">
            Team
        </div>
        <div class="icon-grid">
            {% for project in team %}
            {% include project-icon.html %}
            {% endfor %}
        </div>
    </div>

    <div class="icons-group">
        <div class="subheader icons-group-header">
            Client
        </div>
        <div class="icon-grid">
            {% for project in client %}
            {% include project-icon.html %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="contact">
    <div class="header subheader-container" >
        <div> Contact Me</div>
        <div class="spacer"></div>
    </div>

    <div class="icons-group">
        <div class="subheader icons-group-header">
            Links
        </div>
        <div class="icon-grid">
            {% for link in links %}
            {% include link-icon.html %}
            {% endfor %}
        </div>
    </div>
</section>

<script src="changeTextColor.js"></script>